/* Document 기본 스타일 */
html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-base);
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow-x: hidden;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: var(--color-primary);
}

/* Images */
/* 이미지 컨테이너 너비에 맞게 조정하여 오버플로우 방지 */
img {
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle;
}